* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
}

.navbar {
    display: flex;
    position: sticky;
    min-height: 10vh;
    align-items: center;
    justify-content: space-between;
    top: 0px;
    background: rgba(0, 0, 0, 0.815);
    background-blend-mode: darken;
    background-size: cover;
    color: white;
    padding: 10px 20px;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-list li {
    margin-right: 20px;
}

.nav-list li:last-child {
    margin-right: 0;
}

.nav-list li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
}

.nav-list li a:hover {
    color: #ffd700;
    /* Change the color on hover */
}

.rightNav {
    text-align: right;
}

#search {
    padding: 8px;
    font-size: 16px;
    border: 2px solid #fff;
    border-radius: 5px;
}

.btn {
    background-color: #ffd700;
    color: #000;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    background-color: #000;
    /* Change the background color on hover */
    color: #ffd700;
}


.container{
    border:2px solid black;
    display: flex;

}

.opening{

    min-height: 50vh;
    align-items: bottom;
    width: 100%;

}

.opening p{
    align-self:flex-end;
}

.spacer{
    min-height: 10vh;
    border: 2px solid black;
    width: 100%;
    margin: 0px;
}

.grey{
    background-color: rgb(191, 190, 190);
}
.white{
    background-color: antiquewhite;
}
.black{
    background-color: black;
}

.large{
    min-height: 40vh;
}

.larger{
    min-height: 60vh;
}

.gallery{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
    color: white;


}

.box{
    border: 2px solid red;
    width: 25%;
    height:auto;

}

.largeText{
    font-weight: bold;
    fond-size: 30px;
}